:root {
  --twitter-color: rgb(29, 155, 240);
  --twitter-logo-hover: rgb(225, 243, 255);
  --hover-color: rgb(234, 234, 234);
  --ligtHeading: rgb(82, 96, 130);
}

nav {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navItem {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.twitterLogo {
  /* border: 1px solid black; */
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  width: max-content;
}

.twitterLogo:hover {
  background-color: var(--twitter-logo-hover);
}

.twitterLogo svg {
  width: 2rem;
  height: 2rem;
}

.navItems svg {
  width: 1.75rem;
  height: 1.75rem;
  margin-right: 12px;
  transition: all 0.2s ease-in;
}

.navNewTweet svg {
  width: 1.75rem;
  height: 1.75rem;
  fill: #ffffff;
}

.navNewTweet {
  background-color: var(--twitter-color);
  border-radius: 50%;
  padding: 12px;
  cursor: pointer;
  margin-top: 12px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.profileImgContainer {
  border-radius: 50%;
  padding: 12px;
  cursor: pointer;
  margin-top: 12px;
  width: max-content;
}

.profileImgContainer:hover {
  background-color: var(--hover-color);
}

.profileImg {
  background-image: url("./Images/profilePic.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #ffffff;
}

.navItems {
  width: 100%;
}

.navItems a {
  /* border: 1px solid black; */
  width: 100%;
  display: flex;
  text-decoration: none;
  align-items: center;
  color: black;
  font-weight: 500;
  transition: all 0.2s ease-in;
}

.navItems a:hover svg {
  fill: var(--twitter-color);
}

.navItems a:hover {
  color: var(--twitter-color);
}

.navHomeLogo a {
  color: var(--twitter-color);
}

.navItems a i {
  font-size: 24px;
  margin-right: 12px;
}

.navItems a i {
  -webkit-text-stroke: 0.5px;
}
